*{
	margin:0;
	padding:0;
	white-space: nowrap;
	font-family:sans;
}
#title{
	color:#aaa;
}
#logo{
	height:70px;
	width:auto;
	margin-left:30px;
	margin-top:0px;
}
#logolist{
	float: left;
}
#menubar{
	background-color: #622;
	white-space: nowrap; /*Text will never wrap to next line unless <br> encountered!*/
	text-align: center;	
}

.tabs{
	list-style-type: none;
	display:inline-block;
	padding-right:100px;
	padding-left:100px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:42px;

}

a {
	text-decoration: none;
	color:#ddd;
}

#tab1{
	color:#777;	/*can only apply color to innermost tag - the one with acual text in it, in this case: <a>*/
}
a:hover,#tab1:hover {
	color:#006B24;
}
body{
	background-image:url("gray.png");
	}
#more-title{
	color:#006B24;
}

.margin10{
	margin-top:10px;
}
.body-text{
	color:#eee;
}


/* FORMS */
.gray{
	color:gray;
}

textarea{
	width:450px;
	height:150px;
	border-radius:20px;
	padding:20px;
	resize:none;
	outline:none; /*Removes blue selection box (happens when clicked)*/
}
.button{
	border-radius:10px;
	width:120px;
	height:37.5px;
	margin:10px;
	background-color:#19A347;
	
	border:none;
	outline:none;
	box-shadow: none;

	color:white;
	font-size: 14px;
}
.button:hover{
	background-color:#006B24;
}

#senior, .guard{
	display:none;
}

.animate{
	max-width:500px;
	max-height:500px;
	width:70%;
	opacity: 0.3;

}

#myself_table{
	border:5px;
	border-color: blue;
}